<ol class="toc">
    <li><a href="{{ 'index.html' | relative_url }}">Front Cover</a></li>
    <li><a href="{{ 'about.html' | relative_url }}">About This Book</a></li>
    <li><a href="{{ 'whatis.html' | relative_url }}">What is a Computer?</a></li>
    <li>
        <a href="{{ 'digital/index.html' | relative_url }}">Going Electric</a>
        <ol>
            <li><a href="{{ 'digital/analog.html' | relative_url }}">Analog Computers</a></li>
            <li><a href="{{ 'digital/boolean.html' | relative_url }}">Booleans</a></li>
            <li><a href="{{ 'digital/switch.html' | relative_url }}">Switching</a></li>
            <li><a href="{{ 'digital/binary.html' | relative_url }}">Binary</a></li>
            <li><a href="{{ 'digital/comp.html' | relative_url }}">Digital Computation</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'arch/index.html' | relative_url }}">Digital Computing</a>
        <ol>
            <li><a href="{{ 'arch/proc.html' | relative_url }}">Processors &amp; Programs</a></li>
            <li><a href="{{ 'arch/mem.html' | relative_url }}">Memory</a></li>
            <li><a href="{{ 'arch/io.html' | relative_url }}">Input / Output</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'cpu/index.html' | relative_url }}">Processors</a>
        <ol>
            <li><a href="{{ 'cpu/transistors.html' | relative_url }}">Transistors</a></li>
            <li><a href="{{ 'cpu/circuits.html' | relative_url }}">Circuitry</a></li>
            <li><a href="{{ 'cpu/design.html' | relative_url }}">The Design</a></li>
            <li><a href="{{ 'cpu/registers.html' | relative_url }}">The Registers</a></li>
            <li><a href="{{ 'cpu/math.html' | relative_url }}">The Calculator</a></li>
            <li><a href="{{ 'cpu/final.html' | relative_url }}">The Result</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'memory/index.html' | relative_url }}">Memory</a>
        <ol>
            <li><a href="{{ 'memory/dram.html' | relative_url }}">Dynamic RAM</a></li>
            <li><a href="{{ 'memory/addressing.html' | relative_url }}">Addressing</a></li>
            <li><a href="{{ 'memory/controllers.html' | relative_url }}">Controllers</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'prog/index.html' | relative_url }}">Programming</a>
        <ol>
            <li><a href="{{ 'prog/asm.html' | relative_url }}">Assembly</a></li>
            <li><a href="{{ 'prog/x86.html' | relative_url }}">Case Study: x86</a></li>
            <li><a href="{{ 'prog/arm.html' | relative_url }}">Case Study: ARM</a></li>
            <li><a href="{{ 'prog/compilers.html' | relative_url }}">Compilers</a></li>
            <li><a href="{{ 'prog/c.html' | relative_url }}">Case Study: C</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'num/index.html' | relative_url }}">Numbers</a>
        <ol>
            <li><a href="{{ 'num/ints.html' | relative_url }}">Integers</a></li>
            <li><a href="{{ 'num/bits.html' | relative_url }}">Bit Operations</a></li>
            <li><a href="{{ 'num/floats.html' | relative_url }}">Floating Point</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'text/index.html' | relative_url }}">Text</a>
        <ol>
            <li><a href="{{ 'text/terminals.html' | relative_url }}">Terminals</a></li>
            <li><a href="{{ 'text/ascii-ansi.html' | relative_url }}">ASCII and ANSI</a></li>
            <li><a href="{{ 'text/unicode.html' | relative_url }}">Unicode</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'media/index.html' | relative_url }}">Media</a>
        <ol>
            <li><a href="{{ 'media/images.html' | relative_url }}">Images</a></li>
            <li><a href="{{ 'media/audio.html' | relative_url }}">Audio</a></li>
            <li><a href="{{ 'media/video.html' | relative_url }}">Video</a></li>
            <li><a href="{{ 'media/codecs.html' | relative_url }}">Codecs</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'io/index.html' | relative_url }}">I/O</a>
        <ol>
            <li><a href="{{ 'io/interrupts.html' | relative_url }}">Interrupts</a></li>
            <li><a href="{{ 'io/pio.html' | relative_url }}">Programmed I/O</a></li>
            <li><a href="{{ 'io/mmio.html' | relative_url }}">Memory-Mapped I/O</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'perip/index.html' | relative_url }}">Peripherals</a>
        <ol>
            <li><a href="{{ 'perip/bus.html' | relative_url }}">Buses</a></li>
            <li><a href="{{ 'perip/pci.html' | relative_url }}">Case Study: PCI</a></li>
            <li><a href="{{ 'perip/usb.html' | relative_url }}">Case Study: USB</a></li>
            <li><a href="{{ 'perip/storage.html' | relative_url }}">Storage</a></li>
            <li><a href="{{ 'perip/scsi.html' | relative_url }}">Case Study: SCSI</a></li>
            <li><a href="{{ 'perip/displays.html' | relative_url }}">Displays and Graphics</a></li>
            <li><a href="{{ 'perip/sound.html' | relative_url }}">Sound</a></li>
            <li><a href="{{ 'perip/input.html' | relative_url }}">Input</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'os/index.html' | relative_url }}">Operating Systems</a>
        <ol>
            <li><a href="{{ 'os/kernproc.html' | relative_url }}">Kernels and Processes</a></li>
            <li><a href="{{ 'os/exec.html' | relative_url }}">Limited Execution</a></li>
            <li><a href="{{ 'os/vm.html' | relative_url }}">Virtual Memory</a></li>
            <li><a href="{{ 'os/syscalls.html' | relative_url }}">System Calls</a></li>
            <li><a href="{{ 'os/files.html' | relative_url }}">Files</a></li>
            <li><a href="{{ 'os/shells.html' | relative_url }}">Shells</a></li>
            <li><a href="{{ 'os/drivers.html' | relative_url }}">Drivers</a></li>
            <li><a href="{{ 'os/unix.html' | relative_url }}">Case Study: Unix</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'vm/index.html' | relative_url }}">Virtual Memory</a>
        <ol>
            <li><a href="{{ 'vm/pagetable.html' | relative_url }}">Page Tables</a></li>
            <li><a href="{{ 'vm/tlb.html' | relative_url }}">TLB</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'stor/index.html' | relative_url }}">Storage</a>
        <ol>
            <li><a href="{{ 'stor/iface.html' | relative_url }}">Interfaces</a></li>
            <li><a href="{{ 'stor/hdd.html' | relative_url }}">Magnetic Storage</a></li>
            <li><a href="{{ 'stor/ssd.html' | relative_url }}">Solid-State Drives</a></li>
            <li><a href="{{ 'stor/nvm.html' | relative_url }}">Non-Volatile Memory</a></li>
            <li><a href="{{ 'stor/partition.html' | relative_url }}">Partitioning</a></li>
            <li><a href="{{ 'stor/encrypt.html' | relative_url }}">Encryption</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'fs/index.html' | relative_url }}">File Systems</a>
        <ol>
            <li><a href="{{ 'fs/indexing.html' | relative_url }}">Indexing</a></li>
            <li><a href="{{ 'fs/s5fs.html' | relative_url }}">Case Study: s5fs</a></li>
            <li><a href="{{ 'fs/ext3.html' | relative_url }}">Case Study: ext3</a></li>
            <li><a href="{{ 'fs/btrfs.html' | relative_url }}">Case Study: btrfs</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'boot/index.html' | relative_url }}">Bootstrapping</a>
        <ol>
            <li><a href="{{ 'boot/firmware.html' | relative_url }}">Firmware</a></li>
            <li><a href="{{ 'boot/bootloaders.html' | relative_url }}">Bootloaders</a></li>
            <li><a href="{{ 'boot/kinit.html' | relative_url }}">Kernel Initialization</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'loader/index.html' | relative_url }}">Program Loaders</a>
        <ol>
            <li><a href="{{ 'loader/images.html' | relative_url }}">Image Formats</a></li>
            <li><a href="{{ 'loader/elf.html' | relative_url }}">Case Study: ELF</a></li>
            <li><a href="{{ 'loader/program.html' | relative_url }}">Loading Programs</a></li>
            <li><a href="{{ 'loader/dynlib.html' | relative_url }}">Dynamic Libraries</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'ui/index.html' | relative_url }}">User Interfaces</a>
        <ol>
            <li><a href="{{ 'ui/shells.html' | relative_url }}">Shells</a></li>
            <li><a href="{{ 'ui/terminals.html' | relative_url }}">Terminals</a></li>
            <li><a href="{{ 'ui/windowing.html' | relative_url }}">Windowing</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'lang/index.html' | relative_url }}">Languages &amp; Runtimes</a>
        <ol>
            <li><a href="{{ 'lang/models.html' | relative_url }}">Compilers vs Interpreters</a></li>
            <li><a href="{{ 'lang/jit.html' | relative_url }}">Just-in-Time Compilers</a></li>
            <li><a href="{{ 'lang/oo.html' | relative_url }}">Objects and Models</a></li>
            <li><a href="{{ 'lang/port.html' | relative_url }}">Portability</a></li>
            <li><a href="{{ 'lang/cpp.html' | relative_url }}">Case Study: C++</a></li>
            <li><a href="{{ 'lang/java.html' | relative_url }}">Case Study: Java</a></li>
            <li><a href="{{ 'lang/python.html' | relative_url }}">Case Study: Python</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'advcpu/index.html' | relative_url }}">Processors and Memory</a>
        <ol>
            <li><a href="{{ 'advcpu/cache.html' | relative_url }}">Caches</a></li>
            <li><a href="{{ 'advcpu/prefetch.html' | relative_url }}">Prefetching</a></li>
            <li><a href="{{ 'advcpu/pipelines.html' | relative_url }}">Pipelining</a></li>
            <li><a href="{{ 'advcpu/branch.html' | relative_url }}">Branch Prediction</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'multi/index.html' | relative_url }}">Multi-Core</a>
        <ol>
            <li><a href="{{ 'multi/threading.html' | relative_url }}">Multithreading</a></li>
            <li><a href="{{ 'multi/locks.html' | relative_url }}">Locks</a></li>
            <li><a href="{{ 'multi/memory.html' | relative_url }}">Memory Models</a></li>
            <li><a href="{{ 'multi/atomics.html' | relative_url }}">Atomics</a></li>
            <li><a href="{{ 'multi/guarantees.html' | relative_url }}">Lock-Free, Wait-Free</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'virt/index.html' | relative_url }}">Virtual Machines</a>
        <ol>
            <li><a href="{{ 'virt/vmm.html' | relative_url }}">Hypervisors</a></li>
            <li><a href="{{ 'virt/containers.html' | relative_url }}">Containers</a></li>
            <li><a href="{{ 'virt/k8s.html' | relative_url }}">Case Study: Kubernetes</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'platf/index.html' | relative_url }}">Computing Platforms</a>
        <ol>
            <li><a href="{{ 'platf/desk.html' | relative_url }}">Desktops</a></li>
            <li><a href="{{ 'platf/mobile.html' | relative_url }}">Mobile</a></li>
            <li><a href="{{ 'platf/embed.html' | relative_url }}">Embedded</a></li>
            <li><a href="{{ 'platf/vm.html' | relative_url }}">Virtual</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'net/index.html' | relative_url }}">Networks</a>
        <ol>
            <li><a href="{{ 'net/switching.html' | relative_url }}">Packets and Switching</a></li>
            <li><a href="{{ 'net/layers.html' | relative_url }}">Layering</a></li>
            <li><a href="{{ 'net/eth.html' | relative_url }}">Ethernet</a></li>
            <li><a href="{{ 'net/ip.html' | relative_url }}">IP</a></li>
            <li><a href="{{ 'net/udp.html' | relative_url }}">UDP</a></li>
            <li><a href="{{ 'net/tcp.html' | relative_url }}">TCP</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'inet/index.html' | relative_url }}">The Internet</a>
        <ol>
            <li><a href="{{ 'inet/as.html' | relative_url }}">Autonomous Systems</a></li>
            <li><a href="{{ 'inet/ip.html' | relative_url }}">IP (Revisited)</a></li>
            <li><a href="{{ 'inet/bgp.html' | relative_url }}">BGP</a></li>
            <li><a href="{{ 'inet/dns.html' | relative_url }}">DNS</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'www/index.html' | relative_url }}">The Web</a>
        <ol>
            <li><a href="{{ 'www/http.html' | relative_url }}">HTTP</a></li>
            <li><a href="{{ 'www/html' | relative_url }}.html' | relative_url }}">HTML, CSS</a></li>
            <li><a href="{{ 'www/javascript.html' | relative_url }}">JavaScript</a></li>
            <li><a href="{{ 'www/servers.html' | relative_url }}">Web Servers</a></li>
            <li><a href="{{ 'www/cgi.html' | relative_url }}">CGI</a></li>
            <li><a href="{{ 'www/apps.html' | relative_url }}">Web Apps</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'infosec/index.html' | relative_url }}">Security</a>
        <ol>
            <li><a href="{{ 'infosec/auth.html' | relative_url }}">Access Control</a></li>
            <li><a href="{{ 'infosec/crypto.html' | relative_url }}">Cryptography</a></li>
            <li><a href="{{ 'infosec/certs.html' | relative_url }}">Chains of Trust</a></li>
            <li><a href="{{ 'infosec/exploit.html' | relative_url }}">Code Exploits</a></li>
            <li><a href="{{ 'infosec/inject.html' | relative_url }}">Injection Exploits</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'db/index.html' | relative_url }}">Databases</a>
        <ol>
            <li><a href="{{ 'db/sql.html' | relative_url }}">SQL</a></li>
            <li><a href="{{ 'db/query.html' | relative_url }}">Query Engines</a></li>
            <li><a href="{{ 'db/btree.html' | relative_url }}">Storage Engines</a></li>
            <li><a href="{{ 'db/exotic.html' | relative_url }}">Exotic Databases</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'distrib/index.html' | relative_url }}">Distributed Systems</a>
        <ol>
            <li><a href="{{ 'distrib/failures.html' | relative_url }}">Failures</a></li>
            <li><a href="{{ 'distrib/replication.html' | relative_url }}">Replication</a></li>
            <li><a href="{{ 'distrib/consensus.html' | relative_url }}">Consensus</a></li>
            <li><a href="{{ 'distrib/sharding.html' | relative_url }}">Sharding</a></li>
            <li><a href="{{ 'distrib/quorums.html' | relative_url }}">Quorums</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'cloud/index.html' | relative_url }}">The Cloud</a>
        <ol>
            <li><a href="{{ 'cloud/iaas.html' | relative_url }}">Virtualization</a></li>
            <li><a href="{{ 'cloud/paas.html' | relative_url }}">Platforms</a></li>
            <li><a href="{{ 'cloud/saas.html' | relative_url }}">Services</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'ml/index.html' | relative_url }}">Machine Learning</a>
        <ol>
            <li><a href="{{ 'ml/learn.html' | relative_url }}">How Computers Learn</a></li>
            <li><a href="{{ 'ml/pipelines.html' | relative_url }}">Pipelines</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'apps/index.html' | relative_url }}">Apps</a>
        <ol>
            <li><a href="{{ 'apps/platforms.html' | relative_url }}">Web vs Native</a></li>
            <li><a href="{{ 'apps/frontend.html' | relative_url }}">Frontend</a></li>
            <li><a href="{{ 'apps/backend.html' | relative_url }}">Backend</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'recent/index.html' | relative_url }}">Recent Developments</a>
        <ol>
            <li><a href="{{ 'recent/new-langs.html' | relative_url }}">Language Design</a></li>
            <li><a href="{{ 'recent/cpu-bottleneck.html' | relative_url }}">Super-Fast Storage</a></li>
            <li><a href="{{ 'recent/gpgpu.html' | relative_url }}">Heterogeneous Computing</a></li>
            <li><a href="{{ 'recent/tmem.html' | relative_url }}">Transactional Memory</a></li>
            <li><a href="{{ 'recent/fpgas-asics.html' | relative_url }}">Hardware Offload</a></li>
            <li><a href="{{ 'recent/quantum.html' | relative_url }}">Quantum Computing</a></li>
            <li><a href="{{ 'recent/data-ai.html' | relative_url }}">Big Data &amp; AI</a></li>
            <li><a href="{{ 'recent/cloud.html' | relative_url }}">The Cloud</a></li>
        </ol>
    </li>
    <li>
        <a href="{{ 'reading.html' | relative_url }}">Further Reading</a>
    </li>
    <li>
        <a href="{{ 'projects.html' | relative_url }}">Suggested Projects</a>
    </li>
</ol>
