<ol class="toc">
    <li><a href="{{ 'index.html' | relative_url }}">Front Cover</a></li>
    <li><a href="{{ 'intro.html' | relative_url }}">Introduction</a></li>
    <li><a href="{{ 'cpubasic.html' | relative_url }}">CPU Basics</a></li>
    <li><a href="{{ 'instrs.html' | relative_url }}">Designing for Multi-Core</a></li>
    <li><a href="{{ 'caches.html' | relative_url }}">Caching on Multi-Core</a></li>
    <li><a href="{{ 'ownership.html' | relative_url }}">Ownership Models</a></li>
    <li><a href="{{ 'cpureorder.html' | relative_url }}">CPUs Reorder Memory</a></li>
    <li><a href="{{ 'compreorder.html' | relative_url }}">Compilers Reorder Memory</a></li>
    <li><a href="{{ 'barriers.html' | relative_url }}">Restoring Order with Barriers</a></li>
    <li><a href="{{ 'model.html' | relative_url }}">A Standard Model</a></li>
    <li><a href="{{ 'cpumodel.html' | relative_url }}">The CPU Zoo</a></li>
    <li><a href="{{ 'takeaways.html' | relative_url }}">Tips, Tricks &amp; Takeaways</a></li>
    <li><a href="{{ 'outro.html' | relative_url }}">Conclusion</a></li>
    <li><a href="{{ 'puzzles.html' | relative_url }}">Puzzles</a></li>
</ol>
